* {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #3d77d3;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
.logo {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
  }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.line {
    border-bottom: 1px solid #e2edff;
    width: 100%;
    display: inline-block;
    box-shadow: 2px 0px 2px #c3c3c3;
}

.container {
    display: flex;
}

.dist-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    color: #023a8f;
    font-weight: bold;
}
  
.value {
    font-size: 18px;
    margin-left: 5px;
    color: #484848;
}

.controls {
    font: Arial;
    width: 30%;
    height: 100vh;
    background: #ffffff;
    color: #2d2d2d;
    padding-left: 1rem;
    padding-right: 2rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.map-field {
    width:70vw;
    height: 100vh;
}

.community-panel { 
    display: flex; 
    flex-direction: column; 
    align-items: left; 
}

.directions {
    padding-top: 1em;
}

.button-stack {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: left; 
    gap: 10px; /* adjust gap between buttons */ 
}

.dropdown-facilities {
    cursor: pointer;
    width: 100%;
    font-size: medium;
    color: #484848;
    padding: 10px 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

/* debug */ 
.button-communities {
    transition-duration: 0.4s;
    background-color: white;
    border: 1px solid #c3c3c3;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
}

.button-communities:hover{
    background-color: #3b82f6;
    border-radius: 4px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.routes-button {
    background-color: #ffffff; 
    color: #2d2d2d;
    border: 1px solid #c3c3c3;
    padding: 6px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.routes-button:hover {
background-color: #3b82f6;
border-radius: 4px;
color: white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}


.location-button {
    background-color: #ffffff; 
    color: #ffffff;
    border: 1px solid #c3c3c3;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
.location-button:hover {
background-color: #3b82f6;
border-radius: 4px;
color: white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

.location-button svg {
width: 20px;
height: 20px;
fill: #ffffff; /* White */
}

.inline-element {
    display: inline-block;
    margin-right: 10px;
}

.clear-button {
    margin-bottom: 0.5em;
    position: relative;
    right: 0;
}

/* Media Queries */

/* Large screens (desktops) */
@media only screen and (min-width: 1200px) {
    .center {
         width: 40%;
     }
    .controls {
         width: 20%;
     }
    .map-field {
         width: 80%;
         height: 100vh;
     }
 }
 
 /* Medium screens (tablets) */
 @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .center {
         width: 60%;
     }
    .controls {
         width: 30%;
     }
    .map-field {
         width: 70%;
         height: 100vh;
     }
 }
 
 /* Small screens (mobiles) */
 @media only screen and (max-width: 767px) {
    .center {
         width: 80%;
     }
    .controls {
         width: 40%;
     }
    .map-field {
         width: 60%;
         height: 100vh;
     }
    .button-stack {
         flex-direction: column;
     }
 }